thead {
    cursor: pointer;
}

.selected-row-asc {
    background-color: blue;
}

.asc:after {
    content: " ↑"
}

.desc:after {
    content: " ↓"
}

.fixed {
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
    background-color: cyan;
    width: 20%;
    z-index: 10;
}

.row-el {
    width: 20%
}

.selected-row {
    background-color: cyan;
    font-weight: bolder;
    transition: all 0.2s cubic-bezier();
}

.first-col {
    background: cyan;
    cursor: pointer;
    width: 5%
}