body, .main {
    font-family: 'Baloo Thambi 2', cursive;
}

.MuiTypography-root {
    font-family: 'Baloo Thambi 2', cursive !important;
}

.selected-row-asc {
    background-color: blue;
}

.asc:after {
    content: " ↑"
}

.desc:after {
    content: " ↓"
}

.fixed {
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
    background-color: lightcyan;
    width: 20%;
}

.row-el {
    width: 20%;
    height: 100%
}

.selected-row {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(221, 237, 255) 15%, rgb(249, 249, 255) 50%, rgb(207, 231, 255) 85%, rgb(255, 255, 255) 100%);
    font-weight: bolder;
    transition: all 0.5s ease;
}

.first-col {
    width: 5%;
    cursor: pointer;
}

.table-main {
    margin: 10px 10px
}

.row {
    /* font-family: 'Baloo Thambi 2', cursive; */
    display: flex;
    justify-content: space-around;
    border: 1px solid cyan;
    /* padding: 5px 0; */
    /* box-shadow: 1px 1px 2px rgb(226, 240, 245); */
    align-items: center;
    transition: all 0.5s ease;
}

.row:hover {
    background-color: rgb(218, 246, 247);
}

#id, .first-col {
    text-align: center
}

.td-name, .td-zip {
    text-align: left;
}

.td-banks {
    margin: 5px
}

.td-status {
    text-align: center;
}

.td-time, 
.td-date, 
.td-zip,
#integer,
#localDate, 
#instant {
    width: 10%;
    text-align: cetner;
}

.td-name,
#string {
    width: 30%
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.active {
    color: lightseagreen !important;
    text-transform: none !important
}

.passive {
    color: lightpink !important;
    text-transform: none !important;
    text-decoration: line-through !important;
}

.cols-vis {
    display: flex;
    justify-content: space-evenly;
    color: lightskyblue;
    cursor: pointer;
}
